{% assign provider = site.comments.provider | default: "utterances" %}
{% if provider == "utterances" %}
  {% assign utterances = site.utterances %}
  {% if utterances.repo %}
    <script src="https://utteranc.es/client.js"
            repo="{{ utterances.repo }}"
            issue-term="{{ utterances.issue-term | default: 'pathname' }}" 
            label="{{ utterances.label | default: '💬comments' }}"
	    theme="{{ utterances.theme }}"
            #theme="{{ utterances.theme | default: 'github-light' }}"
            crossorigin="anonymous"
            async>
    </script>
  {% endif %}
{% endif %}
